 body { 
		margin: 0;
		display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    background: #343434 url('images/tile.png');
    border-width: 70px;
		border-image: url("images/bg.png") 75 repeat;	 
		-moz-border-image: url("images/bg.png") 75 repeat;	 
	}

.sub-panel
{
	position: absolute;
	left: 450px;
	top: 100px;
	width: 266px;
	height: 168px;
	background: url("images/sub-panel.png") no-repeat;
}
#btn-fire{
	display: block;
	position: absolute;
	left: 70px;
	top: 10px;
	width: 128px;
	height: 128px;
	cursor: pointer;
	background: url("images/btn-fire-bg.png") no-repeat;
}

#btn-fire span{
	display: block;
	margin: 32px 0 0 33px;
	width: 60px;
	height: 64px;
	background: url("images/btn-fire.png") no-repeat;
}
#btn-fire.pressed span{
	background-position: -111px top;
}

#plate {
	position: relative;
  margin: 20px auto 0 auto;
  padding: 10px;
  min-height: 500px;
  background: url('images/metal-tile.jpg');
  border-width: 5px;
	border-image: url("images/panel-border.png") 5 repeat;	 
	-moz-border-image: url("images/panel-border.png") 5 repeat;	 
}

#tv {
	position: absolute;
	display: block;
	width: 400px;
	height: 290px;
	z-index: 10;
	background: url("images/tv.png") left top no-repeat;
}

.tv-image { margin: 40px 0 0 30px; }